<mat-tab-group *ngIf="program">
    <mat-tab label="Show">
        <div class="wrapper">
            <mat-card fxLayout="row wrap" fxLayoutAlign="start start">
                <img src={{program.image.medium}}>
                <div fxLayout="column wrap" fxLayoutAlign="start start" class="wrapper">
                    <h1>{{program.name}}</h1>
                    <mat-card class="summary">
                        <p [innerHTML]="program.summary"></p>
                    </mat-card>
                    <p> {{program.schedule.time}}</p>
                    <p>{{program.schedule.days}}</p>
                    <p> {{program.network.name}}</p>
                </div>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Cast" *ngIf="cast">
        <div class="wrapper">
            <mat-card fxLayout="row wrap" fxLayoutAlign="start start">

                <mat-list>
                    <mat-list-item *ngFor="let member of cast">
                        <img   mat-card-avatar *ngIf="member.person.image" src={{member.person.image.medium}} alt="">
                        {{member.person.name}}
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Episodes">
        <div class="wrapper">
            <mat-card fxLayout="row wrap" fxLayoutAlign="start start">

                {{episodes | json}}

            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>