<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
        <mat-icon>tv</mat-icon>
        <span class="title"> TV Vault</span>
      <div class="menuItems" fxShow="true" fxHide.lt-md>

        <a mat-button routerLink="/live-today" routerLinkActive="active">Live Today</a>
        <app-search (searchProgram)="searchForProgram($event)"></app-search>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a mat-list-item routerLink="/live-today" routerLinkActive="active" (click)="sidenav.toggle()">Live Today</a>
        <app-search class="appSearch" mat-list-item (searchProgram)="searchForProgram($event); sidenav.toggle()"></app-search>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>