<app-sorting [showList]="programList" (sortList)='sortingPrograms($event)' (filterList)='filterByText($event)'
    (selectOption)='selectedOption($event)'></app-sorting>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly start" class="wrapper">
    <!-- <div class="wrapper"> -->
    <mat-card class="example-card" *ngFor="let show of programList" (click)="selectProgram(show)">
        <mat-card-header>
            <!-- {{show |json}} -->
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <img *ngIf="show.show.image" src={{show.show.image.medium}}>
                <div class="title" fxLayout="column">
                    <div fxFlex="80">
                        <mat-card-title> {{ show.show.name }} </mat-card-title>
                        <!-- TODO ADD PIPE -->
                        <mat-card-subtitle *ngIf="show.name"> {{(show.name.length>50)? (show.name | slice:0:50)+'..':(show.name)}}
                        </mat-card-subtitle>
                    </div>


                    <div fxFlex="20">
                        <mat-card-subtitle *ngIf="show.runtime"> Runtime: {{show.runtime}} </mat-card-subtitle>
                        <mat-card-subtitle *ngIf="show.airdate"> Air Date: {{show.airdate}} </mat-card-subtitle>
                    </div>


                </div>
            </div>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <!-- TODO ADD PIPE -->
            <p *ngIf=show.summary class="summary"
                [innerHTML]="(show.summary.length>300)? (show.summary | slice:0:300)+'..':(show.summary)"></p>
            <p *ngIf="!show.summary">No episode description</p>
        </mat-card-content>
    </mat-card>
</div>